---
import { Header } from '@layouts/Header'
import { Theme, ThemeContext, useThemeContext } from '@components/ThemeContext'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>sakakibara's blog</title>
	</head>
	<body>
      <div classList={{ "dark": useThemeContext() == Theme.dark, "light": useThemeContext() == Theme.light }}>
        <Header client:load />
        <slot />
      </div>
	</body>
</html>

<style is:global>
    @charset "utf-8";
    :root {
      --large-size: 1024px;
      --midium-size: 768px;
      --small-size: 480px;

      --main-bg-color: rgb(20% 20% 50%);
      --font-color: rgb(100% 100% 100%);
      --link-font-color: rgb(100% 100% 100%);
      --visited-font-color: rgb(34 139 34);
    }
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
      background: var(--main-bg-color);
      color: var(--font-color);
    }
    a:link {
      color: var(--link-font-color);
    }
    a:visited {
      color: var(--visited-font-color);
    }

  /* @media screen and (min-width: var(--large-size)) { */
  /**/
  /* } */
  /* @media screen and (min-width: var(--midium-size)) { */
  /**/
  /* } */
</style>
