---
import { Header } from '@components/Header'
import { ThemeProvider } from '@components/ThemeProvider'
---

<!doctype html>
<html lang="en">
	<head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="generator" content={Astro.generator} />
      <title>sakakibara's blog</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.css" integrity="sha384-WcoG4HRXMzYzfCgiyfrySxx90XSl2rxY5mnVY5TwtWE6KLrArNKn0T/mOgNL0Mmi" crossorigin="anonymous">

      <!-- The loading of KaTeX is deferred to speed up page rendering -->
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/katex.min.js" integrity="sha384-J+9dG2KMoiR9hqcFao0IBLwxt6zpcyN68IgwzsCSkbreXUjmNVRhPFTssqdSGjwQ" crossorigin="anonymous"></script>

      <!-- To automatically render math in text elements, include the auto-render extension: -->
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.25/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"
          onload="renderMathInElement(document.body);"></script>
    </head>
    <body>
      <ThemeProvider client:load>
        <Header client:load />
        <!-- <div class="primary-box"> -->
        <!--   <p>primary box</p> -->
        <!-- </div> -->
        <!-- <div class="secondary-box"> -->
        <!--   <p>secondary box</p> -->
        <!-- </div> -->
        <!-- <div class="tartiary-box"> -->
        <!--   <p>tartiary box</p> -->
        <!-- </div> -->
        <!-- <div class="success-box"> -->
        <!--   <p>success box</p> -->
        <!-- </div> -->
        <!-- <div class="error-box"> -->
        <!--   <p>error box</p> -->
        <!-- </div> -->
        <!-- <div class="warning-box"> -->
        <!--   <p>warning box</p> -->
        <!-- </div> -->
        <slot />
      </ThemeProvider>
    </body>
</html>

<style is:global>
    @charset "utf-8";

    :root {
      box-sizing: border-box;

      --small-size: 480px;
      --midium-size: 768px;
      --large-size: 1024px;

      --small-font: 1rem;
      --midium-font: 1.5rem;
      --large-font: 1.75rem;
      font-family:"Noto Sans CJK JP";
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 29px;
    }

    html {
      height: 100%;
    }

    body {
      margin: 0;
      height: 100%;
    }

    .dark-theme {
      --primary: hsl(233 80 28);
      --secondary: hsl(from var(--primary) h s calc(l + 10));
      --tertiary: hsl(from var(--primary) h s calc(l - 10));
      --background: hsl(from var(--primary) h s 10);

      --on-primary: hsl(from var(--primary) h 10 calc(l + 70));
      --on-secondary: hsl(from var(--secondary) h 10 calc(l + 70));
      --on-tertiary: hsl(from var(--tertiary) h 10 calc(l + 70));
      --on-background: hsl(from var(--background) h 10 calc(l + 70));

      --success: hsl(from var(--secondary) calc(h - 120) s 30);
      --error: hsl(from var(--secondary) calc(h + 120) s 30);
      --warning: hsl(from var(--secondary) calc(h - 180) s 30);

      --on-success: hsl(from var(--success) h 10 90);
      --on-error: hsl(from var(--error) h 10 90);
      --on-warning: hsl(from var(--warning) h 10 90);
    }

    .light-theme {
      --primary: hsl(233 100 28);
      --secondary: hsl(from var(--primary) h s calc(l + 10));
      --tertiary: hsl(from var(--primary) h s calc(l - 10));
      --background: hsl(from var(--primary) h s 80);

      --on-primary: hsl(from var(--primary) h 10 calc(l + 70));
      --on-secondary: hsl(from var(--secondary) h 10 calc(l + 70));
      --on-tertiary: hsl(from var(--tertiary) h 10 calc(l + 70));

      --success: hsl(from var(--secondary) calc(h - 120) s 70);
      --error: hsl(from var(--secondary) calc(h + 120) s 70);
      --warning: hsl(from var(--secondary) calc(h - 180) s 70);

      --on-success: hsl(from var(--success) h s 10);
      --on-error: hsl(from var(--error) h s 10);
      --on-warning: hsl(from var(--warning) h s 10);
    }

    .theme-container {
      background: var(--background);
      color: var(--on-background);
      min-height: 100%;
    }

    a:link {
      color: var(--on-background);
    }
    a:visited {
      color: var(--on-background);
    }

    .primary-box {
      background: var(--primary);
      color: var(--on-primary);
      height: 3rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .secondary-box {
      background: var(--secondary);
      color: var(--on-secondary);
      height: 3rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .tartiary-box {
      background: var(--tertiary);
      color: var(--on-tertiary);
      height: 3rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .success-box {
      background: var(--success);
      color: var(--on-success);
      height: 3rem;
    }
    .error-box {
      background: var(--error);
      color: var(--on-error);
      height: 3rem;
    }
    .warning-box {
      background: var(--warning);
      color: var(--on-warning);
      height: 3rem;
    }

  /* @media screen and (min-width: var(--large-size)) { */
  /**/
  /* } */
  /* @media screen and (min-width: var(--midium-size)) { */
  /**/
  /* } */
</style>
